# Question 1

In [1]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

b()
b()
b()

a  # This will display the value of 'a' after the function calls

6

##### Explanation 
- First variable name a is defined 

- function named `b` is defined.

  - Inside this function, we make variable a as globel 
  - Within `b`, a function named `c` is called with the current value of `a` as an argument.
  - the result of c is assinged back to variable a

- Function c simply takes any argument and adds 2 to it 

- we call function three times :  `b()`, `b()`, and `b()`.
  - This results in the following sequence of operations:
    - The first call to `b` updates `a` to 2.
    - The second call to `b` updates `a` to 4.
    - The third call to `b` updates `a` to 6.

- The value 6 is displayed as result of printing variable a. Because 3 time calls to function b makes it value 6.

# Question 2

In [5]:
def fileLength(file_path):
    try:
        with open(file_path, 'r') as file:
            file_content = file.read()
            length = len(file_content)
        return length
    except FileNotFoundError:
        return f"File {file_path} not found."

In [6]:
print(fileLength('Filelength.txt')) 
print(fileLength('idterm.py'))

123
File idterm.py not found.

# Question 3

In [8]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"


# Marsupial instance
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())


# Kangaroo instance
k = Kangaroo()
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4

In [9]:
def collatz(x):
    if x == 1:
        return x
    else:
        print(x)
        if (x % 2 == 0):
            return collatz(x//2)
        else:
            return collatz(3*x+1)

In [11]:
collatz(1)

1

In [13]:
collatz(15)

15
46
23
70
35
106
53
160
80
40
20
10
5
16
8
4
2

1

In [17]:
def binary(n):
    if n > 1:
        binary(n // 2)  # Recursive call for the integer division by 2
    print(n % 2, end='')

01111001

In [18]:
binary(0)

0

In [19]:
binary(1)

1

In [20]:
binary(3)

11

In [21]:
binary(9)

1001

# Question 8

In [26]:
import sqlite3

# Establishing a connection to the SQLite database (or creating one if it doesn't exist)
conn = sqlite3.connect('Dinesh_Climate_Database.db')

# Initializing a cursor object for interacting with the database
cursor = conn.cursor()

# Checking and, if necessary, dropping the Weather_Info table (to ensure a fresh start)
cursor.execute("DROP TABLE IF EXISTS Weather_Info")

# Defining the SQL statement to create the Weather_Info table
table = """
CREATE TABLE Weather_Info (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature REAL,
    Rainfall REAL
);
"""

# Executing the CREATE TABLE statement
cursor.execute(table)

# Defining the SQL statement for inserting data into the Weather_Info table
weather_data = """
INSERT INTO Weather_Info (City, Country, Season, Temperature, Rainfall)
VALUES
  ('Mumbai', 'India', 'Winter', 24.8, 5.9),
  ('Mumbai', 'India', 'Spring', 28.4, 16.2),
  ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
  ('Mumbai', 'India', 'Fall', 27.6, 346.0),
  ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
  ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
  ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
  ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
  ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
  ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
  ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
  ('Cairo', 'Egypt', 'Fall', 22.2, 4.5);
"""

# Executing the INSERT statement
cursor.executescript(weather_data)

# Committing the changes to the database
conn.commit()

# Closing the connection
conn.close()

In [27]:
conn = sqlite3.connect('Dinesh_Climate_Database.db')

cursor = conn.cursor()

cursor.execute(""" Select * from Weather_Info """)

rows = cursor.fetchall()

for row in rows:
    print(row)

conn.close()

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [29]:
import sqlite3

# Create a connection to the SQLite database
conn = sqlite3.connect('Dinesh_Climate_Database.db')

# Create cursor objects to interact with the database
cursor_a = conn.cursor()
cursor_b = conn.cursor()
cursor_c = conn.cursor()
cursor_d = conn.cursor()
cursor_e = conn.cursor()
cursor_f = conn.cursor()
cursor_g = conn.cursor()
cursor_h = conn.cursor()

cursor_a.execute("""SELECT Temperature 
                    FROM Weather_Info
                 """)

cursor_b.execute("""SELECT DISTINCT City 
                    FROM Weather_Info
                 """)

cursor_c.execute("""SELECT * 
                    FROM Weather_Info 
                    WHERE Country = 'India'
                 """)

cursor_d.execute("""SELECT *  
                    FROM Weather_Info 
                    WHERE Season = 'Fall'
                 """)

cursor_e.execute("""SELECT City 
                          ,Country 
                          ,Season 
                    FROM Weather_Info
                    GROUP BY City, Country, Season 
                    HAVING AVG(Rainfall) BETWEEN 200 AND 400
                 """)

cursor_f.execute("""SELECT City
                          ,Country
                    FROM Weather_Info
                    WHERE Season = 'Fall'
                    GROUP BY City, Country
                    HAVING AVG(Temperature) > 20
                    ORDER BY AVG(Temperature) ASC
                 """)

cursor_g.execute("""SELECT SUM(Rainfall) AS TotalRainfall
                    FROM Weather_Info
                    WHERE City = 'Cairo'
                 """)

cursor_h.execute("""SELECT Season, SUM(Rainfall) AS TotalRainfall
                    FROM Weather_Info
                    GROUP BY Season
                """)

rows_a = cursor_a.fetchall()
rows_b = cursor_b.fetchall()
rows_c = cursor_c.fetchall()
rows_d = cursor_d.fetchall()
rows_e = cursor_e.fetchall()
rows_f = cursor_f.fetchall()
rows_g = cursor_g.fetchall()
rows_h = cursor_h.fetchall()

conn.close()

In [46]:
print("a) All the temperature data.\n")
for row in rows_a:
    print(row)

a) All the temperature data.

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [47]:
print("b) All the cities, but without repetition.\n")
for row in rows_b:
    print(row)

b) All the cities, but without repetition.

('Mumbai',)
('London',)
('Cairo',)

In [48]:
print("c) All the records for India.\n")
for row in rows_c:
    print(row)

c) All the records for India.

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [49]:
print("d) All the Fall records.\n")
for row in rows_d:
    print(row)

d) All the Fall records.

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [50]:
print("e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.\n")
for row in rows_e:
    print(row)

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [51]:
print("f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order\n")
for row in rows_f:
    print(row)

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order

('Cairo', 'Egypt')
('Mumbai', 'India')

In [52]:
print("g) The total annual rainfall for Cairo\n")
for row in rows_g:
    print(row)

g) The total annual rainfall for Cairo

(27.6,)

In [53]:
print("h) The total rainfall for each season.\n")
for row in rows_h:
    print(row)

h) The total rainfall for each season.

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

# Question 9

In [60]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [61]:
uppercase_words = [word.upper() for word in words]
print(f"a) {uppercase_words}")

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [62]:
lowercase_words = [word.lower() for word in words]
print(f"b) {lowercase_words}")

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [63]:
word_lengths = [len(word) for word in words]
print(f"c) {word_lengths}")

c) [3, 5, 5, 3, 5, 4, 3, 4, 3]

In [64]:
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print(f"d) {word_info}")

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [65]:
long_words = [word for word in words if len(word) >= 4]
print(f"e) {long_words}")

e) ['quick', 'brown', 'jumps', 'over', 'lazy']